main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  text-align: center;
}

/* PULSE */
@keyframes pulse {
  0%,
  100% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1);
  }
}
.title {
  animation: pulse 1.5s ease-in-out infinite;
}
