/* PULSE */
@keyframes pulse {
  0%,
  100% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1);
  }
}

h1 {
  animation: pulse 2s ease-in-out infinite;
}

.carousel_wrapper {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  max-width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.arrow_wrapper {
  display: contents;
}

.arrow {
  max-width: 40px;
}

.arrow-left {
  grid-column: 1/2;
}

.arrow-right {
  grid-column: 3/4;
  justify-self: end;
}

.project_carousel {
  overflow: hidden;
  position: relative;
  max-width: 80vw;
  grid-area: 1/2/2/3;
}

.carousel_track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.project_name {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  flex-shrink: 0;
}

.project_name img {
  max-width: 50vw;
  margin: 2rem auto;
}

img.clickable {
  cursor: pointer;
  transition: transform 0.4s ease, filter 0.4s ease;
  filter: drop-shadow(-1px -1px 0 var(--pink1))
    drop-shadow(-2px -2px 0 var(--pink1)) drop-shadow(1px 1px 0 var(--pink4))
    drop-shadow(2px 2px 0 var(--pink4));
}

img.clickable:hover {
  transform: scale(1.01);
  filter: drop-shadow(-2px -2px 0 var(--pink1))
    drop-shadow(-3px -3px 0 var(--pink1)) drop-shadow(2px 2px 0 var(--blue))
    drop-shadow(3px 3px 0 var(--blue));
}

img.clickable:active {
  transform: scale(1.03);
}

@media (max-width: 425px) {
  .carousel_wrapper {
    display: block; /* easier for layout */
    max-width: 100vw;
    margin: 0 auto;
    place-content: center;
  }

  .project_carousel {
    max-width: 100vw;
    overflow: hidden; /* THIS keeps other slides hidden */
    position: relative; /* keep track positioning */
  }

  .carousel_track {
    display: flex; /* still flex row */
    transition: transform 0.5s ease-in-out;
  }

  .project_name {
    min-width: 100vw; /* each slide takes full viewport width */
    flex-shrink: 0; /* prevent shrinking */
  }

  .project_name img {
    max-width: 90vw;
    margin: 1.5rem auto;
  }

  .arrow_wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem;
  }

  .arrow {
    max-width: 30px;
  }
}
