.carousel_wrapper {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  max-width: 80vw;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;
}

.arrow_wrapper {
  display: contents;
}

.arrow {
  max-width: 40px;
}

.arrow-left {
  grid-column: 1/2;
}

.arrow-right {
  grid-column: 3/4;
  justify-self: end;
}

.project_carousel {
  overflow: hidden;
  position: relative;
  max-width: 80vw;
  grid-area: 1/2/2/3;
}

.carousel_track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.project_name {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  flex-shrink: 0;
}

.project_name img {
  max-width: 50vw;
}

@media (max-width: 425px) {
  .carousel_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100vw;
  }

  .project_carousel {
    max-width: 100vw;
    overflow: visible;
  }

  .project_name img {
    max-width: 90vw;
  }

  .arrow_wrapper {
    display: block;
  }

  .arrow {
    display: inline-block;
    margin: 2rem 3rem;
  }
}
