main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  text-align: center;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  margin: 3rem auto 0 auto;
  gap: 1rem;
}

h1,
h2,
.cta_btn {
  text-transform: uppercase;
}

/* PULSE */
@keyframes pulse {
  0%,
  100% {
    transform: scale(0.98);
  }
  50% {
    transform: scale(1);
  }
}
.title {
  animation: pulse 1.5s ease-in-out infinite;
}
