main {
  width: 70vw;
  margin: 2rem auto;
}

.project_front {
  h1 {
    line-height: 5rem;
    margin-top: 6rem;
    text-align: center;
  }
  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
  p {
    width: 60vw;
    margin: 0 auto 5.5rem auto;
  }
  .img {
    border: solid 10px var(--pink2);
  }
}

.links {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin: 2rem auto;
  gap: 2rem;
}

.card_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
  margin: 2rem auto;
  gap: 1rem;
  align-items: start;
}

.card {
  background-color: var(--pink2);
  padding: 2rem;
  border: 10px solid var(--pink3);
  max-width: 35vw;
  margin-bottom: 10rem;
}

.card video {
  width: 100%;
  object-fit: contain;
  display: block;
}

.accordion_content p {
  padding-bottom: 2rem;
  color: var(--pink5);
}

.cta_btn {
  background-color: var(--pink3);
  cursor: pointer;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 150px;
  color: var(--pink5);
}

.cta_btn:hover {
  background-color: var(--blue);
  color: var(--pink5);
  cursor: pointer;
}

/* + sign */
summary::marker {
  content: none;
}

.cta_btn::before {
  content: "+ ";
  color: var(--pink5);
}

.cta_btn::after {
  font-family: system-ui;
  font-weight: 400;
  font-size: 1.1rem;
}

[open] .cta_btn::before {
  content: "– ";
  color: var(--pink5);
}

.hide {
  display: none;
}

@media (max-width: 425px) {
  main {
    width: 90vw;
    margin: 2rem auto;
  }
  .project_front {
    h1 {
      line-height: 2rem;
      margin-top: 3rem;
      text-align: center;
    }
    h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
    p {
      width: 90vw;
      margin: 0 auto 3rem auto;
    }
    .img {
      border: solid 5px var(--pink2);
    }
  }
  .links {
    width: 150px;
    margin: 1.5rem auto;
    gap: 2rem;
  }
  .card_section {
    display: block;
    width: 100%;
    margin: 1rem auto;
    padding-bottom: 5rem;
  }
  .card {
    padding: 1.5rem;
    border: 5px solid var(--pink3);
    max-width: 100%;
    margin-bottom: 3rem;
  }
  .accordion_content p {
    padding-bottom: 1rem;
  }
}
