main {
  width: 70vw;
  margin: 2rem auto;
}

.project_front {
  h1 {
    line-height: 5rem;
    margin-top: 6rem;
    text-align: center;
  }
  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }
  p {
    width: 60vw;
    margin: 0 auto 5.5rem auto;
  }
}

.links {
  display: flex;
  flex-direction: row;
  width: 200px;
  margin: 2rem auto;
  gap: 2rem;
}

.card_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70vw;
  margin: 2rem auto;
  gap: 1rem;
  align-items: start;
}

.card {
  background-color: var(--pink2);
  padding: 2rem;
  max-width: 35vw;
  margin-bottom: 10rem;
  filter: drop-shadow(-1px -1px 0 var(--pink1))
    drop-shadow(-2px -2px 0 var(--pink1)) drop-shadow(1px 1px 0 var(--pink4))
    drop-shadow(2px 2px 0 var(--pink4));
}

.card video {
  width: 100%;
  object-fit: contain;
  display: block;
  filter: drop-shadow(-1px -1px 0 var(--pink1))
    drop-shadow(-2px -2px 0 var(--pink1)) drop-shadow(1px 1px 0 var(--pink4))
    drop-shadow(2px 2px 0 var(--pink4));
}

.accordion_content p {
  padding-bottom: 2rem;
  color: var(--pink4);
}

.cta_btn_card {
  font-family: var(--font-title);
  font-size: var(--h4-size);
  font-weight: var(--font-weight-regular);
  color: var(--pink2);
  text-wrap: pretty;
  hyphens: auto;
  background-color: var(--pink3);
  cursor: pointer;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 250px;
  filter: drop-shadow(-1px -1px 0 var(--pink1))
    drop-shadow(-2px -2px 0 var(--pink1)) drop-shadow(1px 1px 0 var(--pink4))
    drop-shadow(2px 2px 0 var(--pink4));
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 var(--pink1), -2px -2px 0 var(--pink1),
    1px 1px 0 var(--pink4), 2px 2px 0 var(--pink4);
  transition: transform 0.4s ease, filter 0.4s ease;
}

.cta_btn_card:hover {
  background-color: var(--blue);
  color: var(--pink2);
  cursor: pointer;
  transform: scale(1.1);
}

/* + sign */
summary {
  list-style: none; /* removes any bullet fallback */
  cursor: pointer;
  padding-left: 0;
}

summary::marker {
  content: none;
}

.cta_btn_card::before {
  content: "+ ";
  color: var(--pink2);
}

.cta_btn_card::after {
  font-family: system-ui;
  font-weight: 400;
  font-size: 1.1rem;
}

[open] .cta_btn_card::before {
  content: "– ";
  color: var(--pink2);
}

summary::-webkit-details-marker {
  display: none; /* Safari/Chrome mobile fix */
}

.hide {
  display: none;
}

@media (max-width: 425px) {
  main {
    width: 90vw;
    margin: 2rem auto;
  }
  .project_front {
    h1 {
      line-height: 2rem;
      margin-top: 3rem;
      text-align: center;
    }
    h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
    p {
      width: 90vw;
      margin: 0 auto 3rem auto;
    }
  }
  .links {
    width: 150px;
    margin: 1.5rem auto;
    gap: 2rem;
  }
  .card_section {
    display: block;
    width: 100%;
    margin: 1rem auto;
    padding-bottom: 5rem;
  }
  .card {
    padding: 1.5rem;
    max-width: 100%;
    margin-bottom: 3rem;
  }
  .accordion_content p {
    padding-bottom: 1rem;
  }
}
